.signup {
    background-color: hsl(208, 100%, 51%);
    border-radius: 5px;
    border: 0px;
    height: 50px;
    width: 200px;
}

.signup a{
    text-decoration: none;
    font-size: 2em;
    color: white;
}

.signup:hover {
    background-color: hsl(208, 50%, 51%)
}